; config.ini

[FACEBOOK]
VERIFY_TOKEN =
ACCESS_TOKEN =
DEPRECATED_VERIFY_TOKEN =
DEPRECATED_ACCESS_TOKEN =

[DIALOGFLOW]
PROJECT_ID =

[NEIS]
NEIS_OPENAPI_KEY =

[SITE]
ROOT_URL =
; NOT INCLUDE '/' at ending
